{% if modules %}
<div class="col-sm-12 col-md-3">
  <div class="sidebar-container pb-3 mb-5 bg-white">
    {% for module in modules %}
    <div class="sidebar-widget mb-3">
      {{ module }}
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}